<footer class="site-footer">
  <div class="container site-footer__row">
    <span>Rylion Immobilière presente 26 residences et 24 villas sur cinq pages.</span>
    <span>Concu pour comparer rapidement prix, type, surface et emplacement.</span>
  </div>
</footer>
</body>
</html>
